name: Deploy Documentation

on:
  push:
    branches:
      - main
    paths:
        - "docs/**"
        - "mkdocs.yml"
        - ".github/workflows/docs.yml"
        - "prediction.py" # In case API logic changes docstrings
        - "api.py"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: |
            uv sync --all-extras --dev

      - name: Deploy to GitHub Pages
        run: uv run mkdocs gh-deploy --force
